*{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    margin: 20px auto;
}
.laco{
    width: 240px;
    height: 150px;
    text-align: center;
    margin-bottom: 20px;
}
.text{
    font-size: 40px;
    margin-bottom: 20px;
}
.highlight{
    color: rgb(83, 161, 243);
}
.content{
    margin-bottom: 20px;
    font-size: 25px;
}
.danhsach_list{
    display: inline;
    margin: 0 12px;
}
.danhsach_link{
    background-color: #2d3032;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 56px;
    line-height: 56px;
    min-width: 170px;
    text-decoration: none;
}
.danhsach_link:hover{
    background-color:#00aeef;
}