*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    background-image:url(/img/background_bai2.jpg) ;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    text-align: center;
    margin: 0px auto;

}
.item{
    width: 22%;
    text-align: center;
    margin: 5px auto;
    color: white;
}
.icon{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.number{
    font-size: 70px;
    margin-bottom: 20px;
}
.text{
    font-size: 35px;
    margin-bottom: 20px;
}