*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 40px auto;
    width: 70%;
}
.title{
    font-size: 35px;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.title .line{
    background-color: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}
.title::after{
    background-color: #e1e0e0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 18px;
    width: 100%;
}
.item{
    width: 100%;
    display: flex;
}
.img_laco{
    width: 98%;
    display: inline-block;
}
