*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 20px auto;
    width: 80%;
}
.text{
    font-size: 30px;
    text-align: center;
    color: grey;
    margin-bottom: 50px;
}
.item{
    width: 24.8%;
    height: 150px;
    display: inline-block;
    text-align: center;
}
.item_link{
    text-decoration: none;
}
.item_anh{
    width: 30%;
}
.item_text{
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}
.item_text:hover{
    color:red;
}